@font-face {
    font-family: 'dfds-light';
    src: url('Font/dfds-light.ttf');
}

@font-face {
    font-family: 'dfds-bold';
    src: url('Font/dfds-bold.ttf');
}

* {
    font-family: 'dfds-light', sans-serif;
}

body {
  background-color: #eaedee;
  margin:0 0 1.5em auto;
  font-size: 1.2em;
  font-family: "open sans";
  color:#fff;
}

.show{
        display: block;
}

img {
    max-width: 100%;
}

body > * {
    padding:0 0.0em;
}

body > header {
    background: white;
    border-bottom:1px solid;
    border-color: gainsboro;
    display: flex;
}

body > header img {
    max-height: 35px;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}

body > header > h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    font-size: 1em;
    color: #002b45;
    font-family: "dfds-bold";


}

body > header > button {
    margin-left: auto;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    height: 2em;
    width: 2em;
    padding: 1.3em;
    background-image: url("img/hamburger.png");
    background-size: cover;
    background-color: transparent;
    border: 0.1em solid #d3d4d4;
    border-radius: 0.3em;
}

nav {
    display: none;
    background-color: white;
}

nav > ul {
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

nav > ul > li:last-child {
    border: none;

}

nav li {

    border-bottom:1px solid;
    border-color: gainsboro;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

nav > ul > li > a {
    font-size: 1.1em;
    color: #001f37;
    text-decoration: none;
    text-align: center;
}

body div {
    padding-top: 1em;
}

fieldset {
    background-color: white;
    margin: 0 0 0;
}

body section {
    margin-left: 1em;
    margin-right: 1em;
}

body section:first-child article h1 {
    font-family: "dfds-bold";
    color: white;
    text-align: center;
    font-size: 1.6em;
}

body section:first-child p:nth-child(2) {
    transform:translateY(-0.75em);
    color: white;
    text-align: center;
}

body section:first-child p:nth-child(3) {
    transform:translateY(-1.5em);
    color: white;
    text-align: center;

}

/* De form Image */

div section:first-child::before {
    background: url(img/reading.png);
    content: " ";
    background-size: cover;
    display:inline-block;
    background-color: pink;
    height: 9em;
    width: 100%;
}

/* De houder van de tekst */

div section:first-child > article {
    transform:translateY(-0.25em);
    display:inline-block;
    height: 100%;
    width: 100%;
    background: #f6861f;
    margin: 0;
    padding: 0;
}

/* Aantal likes ( hoeveelheid ) */

div section:first-child > article > p:nth-child(3) > span {
font-size: 2.5em;
}

/* Lees nu button */

div section:first-child > article > a {

    font-family: "dfds-bold";
    background: white;
    text-decoration: none;
    color: #005184;
    padding: 0.25em;
    position: absolute;
    top: 80%;
    left: 40%;
}

/* Het zoekveld */

form {
    position: relative;
    padding-top: 0em;
    color: black;
    background: white;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 2.5em;
}

form > fieldset > ul {
    list-style: none;
    display: grid;
        column-count: 2;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2em 0.2em;
    padding: 0em;
    width: 100%;
}

form > fieldset > ul > li {
    float: left;
}

form > fieldset > ul > li > input {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    padding: 0em;
    font-size: 1em;
    width: 7em;

}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    font-size: 1em;
    line-height: 1em;
    border: 0.05em solid gainsboro;
    border-radius: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    margin-right: 0.2em;
    text-align: center;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    color: #005184;
}

form fieldset {
    background: white;
    border: none;
    margin:0 0 0em;
    color: #6d6f71;
    max-width: 20em;
    margin: auto;
}

body > div > form > fieldset:nth-child(1) > legend {
    color: black;
    font-family: 'dfds-bold';
    padding-top: 1em;

}

form button {
    position: absolute;
    font-size: 1em;
    font-family: "dfds-bold";
    border: none;
    background: #f6861f;
    color: white;
    right: 1em;
    padding: 0.3em;
}

form input {
    position: absolute;
    margin-left: 1em;
}

fieldset > select {
    width: 100%;
    height: 2em;
}



/* De Verhalen te zien op de homepage */

main {
    margin: 0em auto;
    padding: 1em;
    max-width: 30em;
    min-width: 15em;
}

main > article {
    position: relative;
    background: white;
    color: black;
    margin-bottom: 1em;
    padding-bottom: 2em;

}

/* De top image van het artikel */
/* Algemeen */

main > article::before {
    content: " ";
    background-size:cover;
    display:inline-block;
    background-color: pink;
    height: 6em;
    width: 100%;
}

main > article > h1 {

    transform: translateY(-6.2em);
    display: inline-block;
    position: absolute;
    font-size: 1em;
    font-family: "dfds-bold";
    padding-left: 0.5em;
    background-color: #bd0d2e;
    color: white;
    width: 5.5em;
    margin-top: 0;
}

main > article > h1:after {


    right: -1.1em;
    display: inline-block;
    position: absolute;
    margin: 0;
    content: "";
    height: 0em;
    border-top: 1em;
    border-right: 0em solid transparent;
    border-bottom: 1.15em solid transparent;
    border-left: 1.2em solid #bd0d2e;
}




/* Eerste Artikel */

main > article:nth-child(2)::before {
    background-image: url("img/reading.png");

}

main > article:nth-child(2) > h1 {
    background-color: black;
}

main > article:nth-child(2) > h1:after {
border-left: 1.2em solid black;
}

/* Tweede Artikel */

main > article:nth-child(3)::before {
    background-image: url("img/boot.jpg");

}

main > article:nth-child(3) > h1 {
    background-color: #421f62;
}

main > article:nth-child(3) > h1:after {
    border-left: 1.2em solid #421f62;
}



/* Derde Artikel */

main > article:nth-child(4)::before {
    background-image: url("img/lees1.jpg");

}

main > article:nth-child(4) > h1 {
    background-color: #001f37;
}

main > article:nth-child(4) > h1:after {
    border-left: 1.2em solid #001f37;
}

/* Vierde Artikel */

main > article:nth-child(5)::before {
    background-image: url("img/boot2.png");

}

main > article:nth-child(5) > h1 {
    background-color: #001f37;
}

main > article:nth-child(5) > h1:after {
    border-left: 1.2em solid #001f37;
}



/* De inhoud van de artikelen  */

main article h2 {
    font-family: "dfds-bold";
    font-size: 1.3em;
    margin-top: 0.2rem;
    margin-bottom: 0.2em;
    font-size: 1em;
    padding-left: 1rem;
}

main article p {
    line-height: 1.5em;
    font-size: 0.9em;
    margin-top: 1rem;
    margin-bottom: 1em;
    padding-left: 1rem;
    padding-right: 1rem;
}

main article h4 {
    font-size: 0.8em;
    margin-top: 0.2rem;
    margin-bottom: 0.2em;
    padding-left: 1rem;
}

main article a {
    color: #005184;
    position: absolute;
    font-family: "dfds-bold";
    padding: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    bottom: -1em;
    font-weight: bold;
    text-decoration: none;
}

/* Trending Section */

main > section {
    background: white;
    color: black;
    padding: 1em;

}

main > section h2 {
    font-family: "dfds-bold";
    font-weight: bold;
    font-size: 1.2em;
}

main > section a {
    font-family: "dfds-bold";
    text-decoration: none;
    color: #005184;
}


/* De footer */

footer {
    height: 7em;
    background-color: #002b45;
}




/* Tablet */


@media (min-width:50em){
body {
        margin:0 auto;
    }

/* Maak een tweekolomsgrid */

body > div {
        max-width: 40em;
        margin: auto;
        display: grid;
        column-count: 2;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em 1em;
    padding: 1em;

}

div > section {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        background: transparent;
        background-image: url("img/reading.png");
    background-size: cover;
    position: relative;
    margin: 0em;
    }

main {

    max-width: 50em;

    grid-column: 1 / 3;
    grid-gap: 1em 1em;
    grid-row: 2 / 2;

    display: grid;
    column-count: 2;
    grid-template-columns: auto auto;
    align-content: center;
    align-content: center;
    margin-top: 0em;

    padding: 0em;
}


main article {
        margin-bottom: 0;

    }

main section:first-of-type {

    }

form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: transparent;
    background-color: white;
    height: 20em;
    max-width: 17em;
    margin: 1em 5em 1em 1em;
    position: relative;
}

form > span:first-child {

    display:none;
    }

form > fieldset {
        max-width: 15em;

    }



div section:first-child::before {
        display: none;
    overflow: hidden;
    }


    /* Tekst in het Oranje blok */



section > article > h1 {
position: absolute;
    color: white;
    text-align: right;
        bottom: 10rem;
        right: 1rem;
    }

section > article p:nth-child(2) {
 position: absolute;
    color: white;
    text-align: right;
        bottom: 8rem;
        right: 1em;
}

section > article p:nth-child(3) {
    position: absolute;
    color: white;
    text-align: right;
    bottom: 3rem;
    right: 1rem;
}



div section > article:nth-child(1) {
    transform:translateY(0.0em);
    position: absolute;
    float:right;
    right: 0em;
    overflow: hidden;
    display: inline-block;
    width: 22em;
    background-color: transparent;
    background-image: url("img/OranjeBlok.png") ;
    background-size:cover;
}

    form > section:nth-child(2) {

        max-width: 10em;

    }




    main section {
         grid-column-start: 1;
         grid-column-end: 3;

}

    main article {
        max-width: 20em;

    }

    main > h2 {
        display: none;
    }

    form button {
    font-family: "dfds-bold";
    border: none;
    background: #f6861f;
    color: white;
    float: left;
    margin-right: 1em;
    padding: 0.25em;
}

}

 @media (min-width: 80em) {

     body {


    }

     form {

     grid-column: 1 / 1;
    grid-row: 1 / 1;

     }


     body div {
         max-width: 80em;
     }

     header {
     }

     header button {
         display: none;
     }
     nav {
         display:block;
     }

     nav ul {
         display:flex;
  flex-wrap:wrap;

     }

     nav li {
         margin-right: 1em;
         max-width: 10em;
         border: none;
     }

     main {

         column-count: 4;
        grid-template-columns: auto auto auto auto;
     }

     main header {
         grid-column-start: 1;
          grid-column-end: 5;

}
main section:first-of-type {
         grid-column:1 / 5;
    grid-row:2 / 2;
     }
     main section {
         grid-column-start: 1;
          grid-column-end: 5;
     }


     form {




        padding-left: 1em;
        margin: 1em 1em 1em 1em auto;
    }


     main {
    max-width:80em;
    align-content: center;
    }

    }
